.imageTCont{
  padding: 1%;
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  margin-bottom: 2%;
  border-radius: 20px;
  gap: 2%;
  overflow: scroll;
  .imagesTitle{
    width: 100%;
    text-align: center;
  }
}